.app {
    height:100vh;
    width:100%;
    background-image: linear-gradient(
        to right top,
        #64279d,
        #6548b0,
        #6a64c0,
        #737dcd,
        #8296d8,
        #a39fda,
        #beaadb,
        #d3b6dd,
        #edbacf,
        #f8c3c2,
        #f7d1bc,
        #eedfc1
      );

}
