.app {
  padding: 10px;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right top,
    #64279d,
    #6548b0,
    #6a64c0,
    #737dcd,
    #8296d8,
    #a39fda,
    #beaadb,
    #d3b6dd,
    #edbacf,
    #f8c3c2,
    #f7d1bc,
    #eedfc1
  );
}

.to-do {
  width: 300px;
}

@media screen and (min-width: 1440px) {
  .to-do {
    padding: 20px;
    width: 500px;
  }
  .app-cont {
    display: flex;
    justify-content: space-around;
  }
}
